<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity
            android:name=".activities.CaptureActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LiveDataTestActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.LiveDataTestActivity"
            android:exported="false" />

        <service
            android:name=".services.MyMediaProjectionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ModernBackgroundActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReceiverActivity"
            android:exported="false" />

        <receiver
            android:name=".receivers.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />

                <data android:scheme="file" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.MusicReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_MUSIC_RESUME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CustomDialogActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MemoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MemoListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ThreadHandlerActivity"
            android:exported="false" />

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyIntentService"
            android:exported="false" />

        <activity
            android:name=".activities.ServiceTestActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecyclerViewTestActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.RecyclerViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>